.page {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;

    height: auto !important;
    width: 100% !important;
}

.page_label {
    box-sizing: border-box !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    font-size: 16px !important;
    font-weight: 700 !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: var(--color-003) !important;
    text-wrap: wrap !important;

    padding: 10px !important;
    margin: 0px !important;
    margin-top: 20px !important;

    height: auto !important;
    width: 90% !important;
}

.blog_container {
    box-sizing: border-box !important;
    background: var(--bg-color-004) !important;

    display: flex !important;
    gap: 50px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

    margin: 0px !important;
    margin-bottom: 10px !important;
    padding: 50px 5% !important;
    
    height: auto !important;
    width: 100% !important;
}

@media only screen and (min-width: 1024px) {
    .blog_container {
        padding: 50px 10% !important;
    }
}
